
<main class="dashboard">
    <app-sidebar></app-sidebar>

    <section class="dashboard__content">
            <h1 class="dashboard__content__title">Bem-vindo(a) de volta, Fulano!</h1>

            <section class="dashboard__content__card--info">
                <div>
                    <p class="dashboard__content__card--info__title">Fácil, rápido e do seu jeito: crie uma sala personalizada para compartilhar ideias, trocar experiências
                        e reunir pessoas com os mesmos interesses!</p>

                    <button class="dashboard__content__card--info__button" mat-raised-button (click)="createRoom()">Monte seu espaço</button>
                </div>

                <figure>
                    <img src="assets/images/people.svg">
                </figure>
            </section>

            <section class="dashboard__content__room">
                <h2 class="dashboard__content__room__title">Seus espaços de conversa</h2>

                <div>
                    <!-- TODO: Implementar componente de salas existentes baseado na estrutura do back -->
                </div>
            </section>


            <section class="dashboard__content__suggested">
                <h2 class="dashboard__content__suggested__title">Salas de bate-papo que combinam com você</h2>

                <div>
                    <!-- TODO: Implementar componente de salas sugeridas baseado na estrutura do back -->
                </div>
            </section>
    </section>

</main>
