
<main class="dashboard">
    <app-sidebar></app-sidebar>

    <section class="dashboard__content">
        <h1 class="dashboard__content__title">Bem-vindo(a) de volta, Fulano!</h1>

        <section class="dashboard__content__card--info">
            <div>
                <p></p>

                <button></button>
            </div>

            <figure>
                <img style="width: 250px;" src="assets/images/people.svg">
            </figure>
        </section>

        <section class="dashboard__content__room">
            <h2 class="dashboard__content__room__title">Seus espaços de conversa</h2>

            <div>

            </div>
        </section>


        <section class="dashboard__content__suggested">
            <h2 class="dashboard__content__suggested__title">Salas de bate-papo que combinam com você</h2>

            <div>

            </div>
        </section>
    </section>
</main>
