/* Estilos globis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', monospace;
}

html,
body {
    height: 100%;
}

.register, .login {
    .mat-mdc-raised-button:disabled {
        background-color: #fdc16ebd !important;
    }
}
