<aside class="sidebar">
    <figure class="sidebar__logo">
        <img src="assets/images/logo-complete.svg" alt="Logo ConectaTEA">
    </figure>

    <section class="sidebar__menu">
        <div class="sidebar__menu__item">
            <button mat-icon-button routerLink="/dashboard" routerLinkActive="active">
                <span class="material-symbols-outlined">dashboard</span>
            </button>

            <button mat-icon-button routerLink="/chat" routerLinkActive="active">
                <span class="material-symbols-outlined">chat</span>
            </button>

            <button mat-icon-button routerLink="/invites" routerLinkActive="active">
                <span class="material-symbols-outlined">inbox</span>
            </button>
        </div>

        <div class="sidebar__menu__item">
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>

            <hr>

            <button mat-icon-button (click)="openHelp()">
                <span class="material-symbols-outlined">help</span>
            </button>
        </div>
    </section>
</aside>
